*{
	margin:0px;
	margin:0px;
	font-family: 'Noto Serif Display', serif;
	font-weight:bold;
}
body
{
}

.topheader{
	height:17px;
	background-color:gray;
	font-size:13px;
	color:white;
	padding:8px;
}

.header{
	height:130px;
	font-size:22px;

}
.row{ 
  width:100%;
  padding:10px;
  padding-top:25px;
  
}
.header img
{
	width:60px;
	height:60px;
}

.menubar{
	height:100px;
	background-color:ligthgray;
	font-size:22px;
}

.bodypart{
	height:1000px;
	font-size:22px;
}

.left{
	float:left;
}
	
.right{
	float:right;
}

.hpart1{
	width:4%;
	float:left;	
}

.hpart2{
	width:50%;
	float:left;	
	font-size:40px;
	color:green
}
.login{
	  text-decoration:none;
	  color:white;
	  
}

.hpart3{
	width:10%;
	float:right;
	background-color:green;
	text-align:center;
	padding:10px;
	margin-right:45;
	border-radius:10px;
}

.hpart3:hover
{
	background-color:red;
}

.menubar ul{
	width:100%;
	list-style-type:none;
}
.menubar ul li{
	float:left;
	
}

.menubar ul li a{
	 display:block;
     text-decoration:none;
	  color:black;
	  font-size:18px;
	  padding:10px;
	  font-weight:'Arial';
	  padding-right:50px;
	  padding-left:50px;
	  
}

.menubar ul li a:hover{
	
	  	background-color:red;
		color:yellow;
}

.sectitle
{  
    font-size:30px;
	text-align:center;
	color:red;
	
}

.courses{
	width:80%;
	margin:0 auto auto;
}

.Coursediv{
	width:20%;
	border:1px solid ligthgray;
	box-shadow:3px 6px black;
	height:200px;
	border-radius:10px;
	float:left;
	margin:30px 30px;
	text-align:center;
}

.Coursediv img{
	width:100%;
	border-radius:10px;
}

.Coursediv a{
	text-decoration:none;	
	font-size:20px;
	color:black;
	padding:20px;
	text-align:center;
	
}
.success img{
	width:210px;
	height:250px;
	margin-right:25;
	border-radius:10px;
}
.about{
	width:100%;
	height:400px;
	margin:0 auto auto;
	text-align:center;
}

.footer{
	height:400px;
	background-color:black;
	color:yellow;
}
.part20{
	width:20%;
	float:left;
	padding:30px;
	font-size:13px;
	margin:10px;
}

.footerform{
		width:100px;
	}
.btn{
	background-color:grey;
	color:white;
}

	
	
.part20 a{
	text-decoration:none;
	color:white;


}
.part40{
	width:40%;
	float:left;
	padding:30px;
	font-size:12px;
	margin:10px;
}

.loginform{
	width:16%;
	margin:0 auto auto;
	text-align:center;
	margin-bottom:30px;
}

.enroll{
	background-color:green;
	color:white;
	text-align:center;
	margin:0 auto auto;
	width:70px;
	padding:1px;
	align:center;
	border-radius:10px;

}
.enroll:hover{
		background-color:indigo;
	}
	
.note{
   background-color:yellow;
   color:red;
   text-align:center;
   border:1px dashed red;
   padding:10px;
   }	